.nav-wrapper{
	background-color: ;

}


.vidos { margin-left: 20px;
	margin-top: 50px;



}

.photo { margin-left: 20px;
	


}

.nav-wrapper{
	background: orange;
}


.page-footer {


	background: orange;
}


body {   background-color: #F3EFC7


;




}
